#movie-backdrop {
    width: 100%;
}

#container{
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    justify-content: space-around;

}

body {
    background-color: #22223B;
    
}

#navbarSupportedContent a{
    color: #9A8C98;
}

.navBar {
    background-color: #4A4E69;
}

.navBar a {
    color: #F2E9E4;
}

h3 {
    color: #F2E9E4;
}

#actors {
    margin: 24px 16px 0 0;
}
.footer{
    background-color:black;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  
  .logo {
    color: #f4511e;
    font-size: 200px;
  }

  #movie-backdrop {
    width: 100%;
}



#actorsDataContainer{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
  
   
}

#actorsDataContainer {
    height: 1200px;
    display: flex;
    padding: 30px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#actorsDataContainer img {
    width: 150px;
}

#actorsDataContainer div {
    text-align: center;
}



p, h2, h4, h5 {
    color: #F2E9E4;

}

